<h5 class="mb-5 text-center">{{userInfo.name+" "+userInfo.lastname}}</h5>
<div class="row">
  <div class="col-6 text-center" >
    <img src="{{userImg}}" class="mx-auto img-fluid img-circle d-block" alt="avatar">
    <h6 class="mt-2">Upload a different photo</h6>
    <label class="custom-file"  *ngIf="!isImageLoaded">
      <input type="file" id="file" class="custom-file-input" (change)="fileChangeEvent($event)">
      <span class="custom-file-control">Choose file</span>
    </label>
    <label class="custom-file" *ngIf="isImageLoaded">
      <input type="button" class="custom-file-input" (change)="uploadFile($event)">
      <span class="custom-file-control">Upload file</span>
    </label>
  </div>
  <div class="col-6">
    <h6>{{'Про себе' | translate}}</h6>
    <p>
      {{userInfo.description}}
    </p>
    <h6>{{'Електронна пошта' | translate}}</h6>
    <p>
      {{userInfo.email}}
    </p>
    <h6>{{'Країна' | translate}}</h6>
    <p>
      {{userInfo.country}}
    </p>
    <h6>{{'Місто' | translate}}</h6>
    <p>
      {{userInfo.city}}
    </p>
    <h6>{{'Вік' | translate}}</h6>
    <p>
      {{userInfo.age}}
    </p>
  </div>
</div>

<ng-template #cropImageDialog>
  <div class="modal-content">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [resizeToWidth]="150"
      [resizeToHeight]="150"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
    <div class="btn-group d-flex justify-content-center">
      <button mat-button color="gray" tabindex="-1" (click)="uploadImage()">Save</button>
      <button mat-button color="primary" (click)="closeConfirmDialog()">Cancel</button>
    </div>
  </div>
</ng-template>


