image-cropper > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

image-cropper {
  padding: 0;
}

image-cropper  img {
  width: 100%;
}

.avatar-container {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.avatar-container img{
  width: 100%;
  height: 100%;
}
