<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>{{'Реєстрація' | translate}}</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'Ім\'я' | translate}}" formControlName="name">
        </mat-form-field>
        <div *ngIf="registerForm.get('name').invalid && registerForm.get('name').touched" class="alert alert-danger">
          <div *ngIf="registerForm.get('name')['errors']['required']">{{'Ім\'я є обов\'язковим' | translate }}</div>
        </div>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'Прізвище' | translate}}" formControlName="lastname" >
        </mat-form-field>
        <div *ngIf="registerForm.get('lastname').invalid && registerForm.get('lastname').touched" class="alert alert-danger">
          <div *ngIf="registerForm.get('lastname')['errors']['required']">{{'Прізвище є обов\'язковим' | translate}}</div>
        </div>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'Емейл' | translate}}" formControlName="email" >
        </mat-form-field>
        <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched" class="alert alert-danger">
          <div *ngIf="registerForm.get('email')['errors']['required']">{{'Емейл є обов\'язковим' | translate}}</div>
          <div *ngIf="registerForm.get('email')['errors']['email']">{{'Введіть коректний емейл' | translate}}</div>
        </div>

        <div *ngIf="submitted && forbiddenEmail" class="alert alert-danger">
            Емейл уже використовується
        </div>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'Пароль' | translate}}" formControlName="password" >
        </mat-form-field>
        <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" class="alert alert-danger">
          <div *ngIf="registerForm.get('password')['errors']['required']">{{'Пароль є обов\'язковим' | translate}}</div>
          <div *ngIf="registerForm.get('password')['errors']['minlength']">{{'Пароль повинен бути мінімум 8 симлолів' | translate}}</div>
        </div>

      </mat-card-content>

      <button [disabled]="registerForm.invalid" type="submit" mat-stroked-button color="accent" class="btn-block">{{'Зареєструватись' | translate}}</button>
    </form>
    <div class="etc-login-form">
      <p>already have an account? <a [routerLink]="['/login']">login here</a></p>
    </div>
  </mat-card>
</div>
