<router-outlet></router-outlet>
<app-alert></app-alert>


<!--<h1>Angular 2/5 Alerts</h1>-->
<!--<button class="btn btn-success" (click)="success('Success!!')">Success</button>-->
<!--<button class="btn btn-danger" (click)="error('Error :(')">Error</button>-->
<!--<button class="btn btn-info" (click)="info('Some info....')">Info</button>-->
<!--<button class="btn btn-warning" (click)="warn('Warning: ...')">Warn</button>-->
<!--<button class="btn btn-default" (click)="clear()">Clear</button>-->

<!--<div><label for="">-->
  <!--<select #langSelect (change)="translate.use(langSelect.value)" name="" id="">-->
    <!--<option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>-->
  <!--</select>-->
<!--</label>-->
<!--</div>-->
<!--<div>{{ 'Привіт' | translate }}</div>-->
