<ul class="nav nav-tabs">
  <li role="presentation"
      class="nav-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/users/me" class="nav-link">Profile</a>
  </li>
  <li role="presentation"
      class="nav-item"
      routerLinkActive="active">
    <a routerLink="/users/me/messages" class="nav-link">Messages</a>
  </li>
  <li role="presentation"
      class="nav-item"
      routerLinkActive="active">
    <a [routerLink]="['/users/me/edit']" class="nav-link">Edit information</a>
  </li>
</ul>


